@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
	<h1>Test</h1>
	<input type="text" class="form-control" ng-model="testo">
	<label>Ciao {{testo}}</label>
	
	<input type="number" class="form-control" min="1" step="0.5" ng-model="prezzo">
</div>
