@{
	ViewBag.Title = "Todo List";
}



<div class="container" ng-controller="todoCtrl">
	<h1>Mini todo list app in AngularJs</h1>
	<form ng-submit="aggiungi()">
		<input type="text" class="form-control" placeholder="Insert your note here" ng-model="nuova" />

		<button class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus"></span>Add note</button>
		@*<span class="glyphicon glyphicon-plus"></span>*@
	</form>
	<p ng-repeat="nota in note">
		<input type="checkbox" ng-click="rimuovi()">{{nota}}
	</p>
	<p>Left <strong>{{note.length}}</strong></p>
</div>

@section outofbody
{
	<script>
		function storageKey() {
			return 'AppsterdamNotes';
		}

		//should be put in a separate .js file, but it is overkill for a simple project like this

		function todoCtrl($scope) {
			$scope.note = [];

			if (localStorage.getItem(storageKey())) {
				$scope.note = JSON.parse(localStorage.getItem(storageKey()));
			}
			$scope.aggiungi = function () {
				$scope.note.push($scope.nuova);
				$scope.nuova = null;
				//log input model
				console.log($scope.nuova, $scope.note);
				var string_data = JSON.stringify($scope.note);
				localStorage.setItem(storageKey(), string_data);
			};
			$scope.rimuovi = function () {
				var currentElem = this;
				$scope.note.splice(currentElem.$index, 1);
				var string_data = JSON.stringify($scope.note);
				localStorage.setItem(storageKey(), string_data);
			};
		}
	</script>
}
