@{
	ViewBag.Title = "Todo List";
}



<div class="container" ng-controller="todoCtrl">
	<h1>Mini todo list app in AngularJs</h1>
	<form action="/" method="post">
		<input type="text" class="form-control" placeholder="Insert your note here" />

		<button class="btn btn-default btn-block">Add note</button>
		@*<span class="glyphicon glyphicon-plus"></span>*@
	</form>
	<p>
		<input type="checkbox">Filler
	</p>
	<p>Left <strong>0</strong></p>
</div>

@section outofbody
{

	<script>
		function todoCtrl($scope) {

		}
	</script>
}
